{% if message %}
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <td><small>From</small></td>
        <td>{{ message.sender }}</td>
    </tr>
    <tr>
        <td><small>Date</small></td>
        <td>{{ message.createdAt|date }}</td>
    </tr>
    <tr>
        <td><small>Subject</small></td>
        <td>{{ message.subject }}</td>
    </tr>
    <tr>
        <td><small>To</small></td>
        <td>{{ message.recipients|join(', ') }}</td>
    </tr>
</table>
{{ message.body|raw }}
{% endif %}
